.product , .login , .wishlist , .shopping-cart , .logo , .hamIcon{
    background-repeat: no-repeat;
    text-indent:101% ;
    overflow:hidden ;
    white-space:nowrap ;
}
.logo{
    background-image: url(../image/header/logo.png);
    width : 128px ;
    height : 38px ;
}
.product{
    background-image: url(../image/header/product.png);
    width : 20px ;
}
.login{
    background-image: url(../image/header/login.png);
    width : 20px ;
}
.wishlist{
    background-image: url(../image/header/heart.png);
    width : 20px ;
}
.shopping-cart{
    background-image: url(../image/header/shopping-cart.png);
    width : 20px ;
}

.hamIcon{
    background-image: url(../image/header/hamIcon.png);
    width :34px ;
    height : 30px ;
}
.nav_bar{
    h3{
        color : #8D8D8D ;
        font-size: 20px ;
    }
}
